/*   Dimension   */
.set-width (@width) {
    width: @width;
}
.set-height (@height) {
    height: @height;
}

.set-display (@display: block){
    display: @display;
}
.set-overflow (@overflow: hidden){
    overflow: @overflow;
}
.set-float (@float: left){
    float: @float;
}

/*   Margins & Paddings   */
.center (@margin: 0){
    margin: @margin auto;
}
.set-margin (@margin){
    margin: @margin;
}
    .set-margin-top (@margin-top){
        margin-top: @margin-top;
    }
    .set-margin-right (@margin-right){
        margin-right: @margin-right;
    }
    .set-margin-bottom (@margin-bottom){
        margin-bottom: @margin-bottom;
    }
    .set-margin-left (@margin-left){
        margin-left: @margin-left;
    }

.set-padding (@padding){
    padding: @padding;
}
    .set-padding-top (@padding-top){
        padding-top: @padding-top;
    }
    .set-padding-right (@padding-right){
        padding-right: @padding-right;
    }
    .set-padding-bottom (@padding-bottom){
        padding-bottom: @padding-bottom;
    }
    .set-padding-left (@padding-left){
        padding-left: @padding-left;
    }



/*   Colors     */
.set-color (@color){
    color: @color;
}
.set-background-color (@bg-color){
    background-color: @bg-color;
}

/*   Background   */
.set-background (@bg){
    background: @bg;
}
.set-background-image (@bg-image){
    background-image: @bg-image;
}

/*   Borders   */
.set-border (@border){
    border: @border;
}
.set-border-radius (@radius) {
    border-radius: @border-radius;
}